.prod-img{
    height: 200px;
    display: block;
    margin: 0 auto;
}
.prod-name{
    display: block;
    font-size: 20px;
    text-align: center;
    margin-top: 20px;
}
.prod-card{
    width: 300px;
    margin: 35px;
    padding: 10px;
    text-decoration: none;
}
.prod-price{
    display: block;
    margin: 10px auto;
    font-size: 18px;
}
.btn-buy-now{
    background-color: #fbbfe3;
    color: #e1108a;
    padding: 10px 10px;
    width: 150px;
    border: none;
    font-size: 15px;
    font-weight: bold;
    border-radius: 10px;
    display: block;
    margin: 10px auto;
}